.top-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #858383;
    display: flex;
  }
  ul li {
    float: left;
  }

  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #0c0c0c;
  }

  ul li a.active {
    background-color: #04aa6d;
  }
}

.nav-header {
  .bg-header {
    background-color: #232730;
  }
  a,
  .nav-link {
    color: white !important;
    text-decoration: none;

    &:hover {
      color: #56bfd6 !important;
    }

    &.active {
      color: #56bfd6 !important;
    }
  }

  .dropdown {
    .dropdown-item {
      color: rgb(65, 59, 59) !important;
    }
  }

  .brand-name {
    color: #54b9cf;
  }

  .nav-logo {
    animation: logo-spin 4s linear  infinite;
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
